@model AddressModel
@using Nop.Web.Models.Common;

@{
    var isShippingAddress = ViewBag.IsShipping != null && ViewBag.IsShipping;
    var isBillingAddress = ViewBag.IsBilling != null && ViewBag.IsBilling;
}

@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
        $(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}
@Html.HiddenFor(model => model.Id)
<div class="edit-address">

    @if (!isBillingAddress)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.FirstName, new {})
            @Html.RequiredHint()
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="inputs">
            @Html.LabelFor(model => model.LastName, new {})
            @Html.RequiredHint()
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)

        </div>
        if (Model.CompanyEnabled)
        {
            <div class="inputs">
                @Html.LabelFor(model => model.Company, new {})
                @if (Model.CompanyRequired)
                {
                    @Html.RequiredHint()
                }
                @Html.EditorFor(model => model.Company)
                @Html.ValidationMessageFor(model => model.Company)
            </div>
        }
        <div class="inputs">
            @Html.LabelFor(model => model.Email, new {})
            @Html.RequiredHint()
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        if (Model.PhoneEnabled)
        {
            <div class="inputs">
                @Html.LabelFor(model => model.PhoneNumber, new {})
                @if (Model.PhoneRequired)
                {
                    @Html.RequiredHint()
                }
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { inputmode = "decimal" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        }
    }

    @if (isShippingAddress)
    {
        <div class="spacing">
            <label>@T("Checkout.ShippingAddress")</label>
        </div>
    }

    @if (isBillingAddress)
    {
        <div class="spacing hide">
            <label>@T("Checkout.BillingAddress")</label>
        </div>
        <div class="inputs use-shipping-address">
            <input id="useShippingAddress" name="useShippingAddress" type="checkbox" value="false"/>
            <label for="useShippingAddress">@T("Checkout.UseShippingAddress")</label>
        </div>
    }
    @if (Model.StreetAddressEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.Address1, new {})
            @if (Model.StreetAddressRequired)
            {
                @Html.RequiredHint()
            }
            @Html.EditorFor(model => model.Address1)
            @Html.ValidationMessageFor(model => model.Address1)
        </div>
    }
    @if (Model.StreetAddress2Enabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.Address2, new {})
            @if (Model.StreetAddress2Required)
            {
                @Html.RequiredHint()
            }
            @Html.EditorFor(model => model.Address2)
            @Html.ValidationMessageFor(model => model.Address2)
        </div>
    }
    @if (Model.CityEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.City, new {})
            @if (Model.CityRequired)
            {
                @Html.RequiredHint()
            }
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>
    }
    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.StateProvinceId, new {})
            @Html.RequiredHint()
            @Html.DropDownListFor(model => model.StateProvinceId, Model.AvailableStates)
            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            @Html.ValidationMessageFor(model => model.StateProvinceId)
        </div>
    }
    @if (Model.ZipPostalCodeEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.ZipPostalCode, new {})
            @if (Model.ZipPostalCodeRequired)
            {
                @Html.RequiredHint()
            }
            @Html.EditorFor(model => model.ZipPostalCode, new { htmlAttributes = new { inputmode = "decimal" } })
            @Html.ValidationMessageFor(model => model.ZipPostalCode)
        </div>
    }
    @if (Model.CountryEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.CountryId, new {})
            @Html.RequiredHint()
            @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries)
            @Html.ValidationMessageFor(model => model.CountryId)
        </div>
    }
    @*@if (Model.FaxEnabled)
    {
        <div class="inputs">
            @Html.LabelFor(model => model.FaxNumber, new { })
            @if (Model.FaxRequired)
            {
                @Html.RequiredHint()
            }
                @Html.EditorFor(model => model.FaxNumber)
            @Html.ValidationMessageFor(model => model.FaxNumber)
        </div>
    }*@
    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @Html.Partial("_AddressAttributes", Model.CustomAddressAttributes)
    }
</div>
